<%= render 'layouts/header' %>
<div class="container mt-lg-5" xmlns="http://www.w3.org/1999/html">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="card-body m-0">
      <div class="card rounded-3 bg-secondary">
        <div class="card-body text-dark">
          <div class="card">
            <div class="card-header bg-info text-center ">
              <h2>Profile</h2>
            </div>
            <p><%= image_tag @user.image.url, width: "150", height: "150", class: "rounded mx-auto d-block mt-lg-3" if @user.image.present? %></p>
            <p><strong>Username: </strong><%= @user.username %></p>
            <p><strong>Email: </strong><%= @user.email %></p>
            <p><strong>Coins: </strong><%= @user.coins %></p>
          </div>
          <div class="container col-8">
            <ul class="nav nav-pills nav-justified">
              <li class="nav-item mt-lg-5">
                <%= link_to "Cash in", "#", class: "btn bg-warning nav-link" %>
              </li>
            </ul>
            <ul class="nav nav-pills nav-justified mt-3">
              <li class="nav-item">
                <%= link_to "Edit", edit_user_registration_path, class: "btn  bg-warning nav-link" %>
              </li>&nbsp;&nbsp;&nbsp;
              <li class="nav-item">
                <%= link_to "Address", users_addresses_path, class: "btn bg-warning nav-link" %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<%= render 'layouts/footer' %>